@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 100vh; */
}
input {
  width: 200px;
  height: 50px;
}

img {
  width: 90px;
  height: auto;
}

.tab {
  width: 50%;
  margin: 0 auto;
}

ul.tabName {
  display: flex;
  list-style-type: none;
}

ul.tabName li {
  width: 15%;
  padding: 10px;
  background-color: #f6f4f4;
  border-right: 1px solid white;
  cursor: pointer;
  transition: 0.2s;
}

ul.tab_content {
  background-color: #ddd;
  list-style: none;
  padding: 10px;
}

ul.tab_content li {
  display: flex;
  justify-content: left;
  column-gap: 10px;
}
